/* KULeuven colors:
 * https://admin.kuleuven.be/mykuleuven/en/channel/50000725/identity
 * darkblue #00407a
 * lightblue #52bdec 
 * primary blue #1d8db0
 * sec. blue #1c7aa0
 * highlight: #e7b037
 * kulgray: 333;
 */

/*.node-rect { fill: #eee; stroke: #666; }
.node-rect.active { fill: #4caf50; }
.node-rect.inactive { fill: #ddd; }
*/

.node-rect { fill: #52bdec; stroke: #00407a; stroke-width:2;  }
.node-rect.active { fill: #e7b037; }
.node-rect.inactive { fill: #52bdec; }
.link {fill:none; stroke:#00407a; stroke-width:2;}
svg text {
  font-family: Helvetica, Arial, sans-serif;
}
.logo {
    height:65px;
    fill:transparent;
}
.logokul {
    height:55px;
    fill:transparent;
}
.logoai {
    background-color: white;
    color: #00407a;
}

h1 {
    color: white;
    font-size: 38px;
    padding:0px;
    margin:0px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: 333;
  font-family: Helvetica, Arial, sans-serif;
  flex-direction: column;
  margin:0px;
}
header {
  background-color: #00407a;
  color: #52bdec;
  padding: 5px;
  flex: 0 0 auto;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00407a;
  padding: 5px;
  border-top: 1px solid #ccc;
}
.toolbar {
    flex: 0 0 auto;
}
.splitline {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
main {
  flex: 1 1 auto;
  overflow: auto; /* adds scroll bar if needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.area {
  max-width: 100%;
  /*max-height: inherit;*/
  overflow: auto;
  border: 1px solid #ccc;
}
